html{
    position: relative;
    font-family: monospace;
    font-size: large;
    padding: 20px;
    background-color: #f0f0f0;
}
button, input, select {
    font-size: large;
    font-family: monospace;
    height: 35px;
    margin: 0px;
}
button, input[type="text"] {
    padding: 5px;
}
select{
    width: 130px;
}
.room, .link {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

/* SVG styling */
#voronoi-centroids-svg,
#voronoi-polygons,
#links-lines,
#debug-graph {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: white;
    stroke-width: 0.02;
}

.centroid {
    r: 0.05;
    fill: #fff0;
    stroke: white;
    stroke-width: 0.015;
}

.label{
    fill: white;
    stroke: none;
    text-anchor: middle;
    font-size: 0.12;
    font-family: monospace;
    pointer-events: none;
    user-select: none;
    transform: translateY(-0.1px);
}

#links-lines line{
    stroke: #ffffff52;
    stroke-width: 0.05;
    stroke-linecap: round;
}